.BoardWrapper{
    max-width: 100%;
    /* max-width: 1024px; */
    /* margin: 100px auto; */
    display: flex;
    justify-content: center;
    

}
.mainContainer{
    min-width: 360px;
    min-height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 1px solid #1565c0;
}
.buttonWrapper{
display: flex;
width: 80%;
justify-content: space-between;
padding-bottom: 10px;
}
.buttonWrapper > button{
    /* width: max-content; */
    padding: 5px 10px;
    border: none;
    background-color: #1565c0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    
}
.boardContainer{
    display: flex;
    width: 320px;
    height: 320px;
    flex-wrap: wrap;
    flex:1;
    margin-right: 5px;
}
.gameHistory{
    flex: 1;
    display: flex;
    height: 320px;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.square{
    width:33.33% ;
    background-color: rgba(254, 254, 254, 0);
    height: 33.33%;
    border: 0.1px solid black;
    box-sizing: border-box;
    font-size: 50px;
    display: flex;
    justify-content: center ;
    align-items: center;
    cursor: pointer;
}
.gamePlayer{
    font-size: 20px;
    font-weight: 500;
    background-color: #ded3f6;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
}